.ideias-card {
    background: var(--p5);
    color: var(--p3);
    border-radius: 12px;
    padding: 1.8rem;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.ideias-texto {
    font-family: "Anago Book", serif;
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
}

.ideias-usuario {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.ideias-nome {
    font-weight: bold;
    font-size: 0.95rem;
}

.ideias-data {
    color: #666;
    font-size: 0.85rem;
}

.ideias-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-edit{
    background-color: var(--s1);
    color: var(--p3);
}

.btn-edit:hover{
    background-color: var(--p4);
    transition: 0.3s;
}

.btn-delete {
    background-color: var(--s4);
    color: var(--p3);
}

.btn-delete:hover {
    background-color: var(--p6);
    transition: 0.3s;
}
